<div class="d-flex">
  <span class="calendar-style">
    <input matInput [matDatepicker]="dp">
    <mat-hint>MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp startView="year" panelClass="example-month-picker" (monthSelected)="setMonthAndYear($event, dp)"
      startView="multi-year"></mat-datepicker>
  </span>
</div>
<div>
  Selected Month:{{monthYearDate}}
</div>
<table class="table table-compact">
  <tbody cdkDropListGroup>
    <tr>
      <th>SUN</th>
      <th>MON</th>
      <th>TUE</th>
      <th>WED</th>
      <th>THU</th>
      <th>FRI</th>
      <th>SAT</th>
    </tr>
    <tr *ngFor="let week of weeks">
      <td [ngClass]="{'unselectable':dayLabels[week][day]==0}" class="left" *ngFor="let day of days" cdkDropList
        [cdkDropListData]="entryState[week][day]" (click)="newEntry(day, week)" (cdkDropListDropped)="drop($event)">
        <div>{{dayLabels[week][day]==0?'':dayLabels[week][day]}}</div>
        <app-entry cdkDrag cdkDragHandle *ngFor="let state of entryState[week][day]" [state]="state"
          (deleteMe)="deleteEntry(day, week, state)" (click)="($event).stopPropagation()">DragItem</app-entry>
      </td>
    </tr>
  </tbody>
</table>